@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border : 1px solid black;
    text-align: center;
    height: 100vh;
}

h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 3rem;
    padding : 5rem 0 2rem 0;
}

#input {
    outline : none;
    border: none;
    padding  : .5rem .4rem;
    width : 20rem;
    border-radius: .6rem;
    margin-bottom: 1rem;
}

#btn--add {
    border : none;
    padding : .2rem .3rem;
    border-radius: .6rem;
    margin-left : .2rem;
    border : 1px solid transparent;
    position: absolute;
    right : 30rem;
    color: #3087ea;
}

#btn--add:hover {
    background-color: #3087ea;
    color : white;
}

#todoItemsContainer{
    list-style-type: none;
    display : flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.todoItemContainer__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 10rem;
    border : 1px solid black;
}